@model Author

@{
    ViewData["Title"] = "Create New Author";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form class="card" asp-action="Create" asp-controller="Authors" method="post">
        <div class="form-group">
            <label for="body">New Author</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Name">
            <input asp-for="Surname" type="text" class="form-control" placeholder="Surname">
        </div>
        <button type="submit" class="btn btn-sm btn-outline-primary">Create</button>
    </form>
</div>