@model Message

@{
    ViewData["Title"] = "Message detail";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">@ViewData["Title"]</h1>
    
    <form class="card" asp-action="Create" asp-controller="Messages" method="post">
        <div class="form-group">
            @if (Model is not null)
            {
                <input asp-for="Id" type="hidden" value="@Model.Id" />
            }
            <div>
                <label for="body">Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div>
                <select asp-for="AuthorId">
                    @foreach(var author in (IEnumerable<Author>)ViewData["Authors"])
                    {
                        <option value="@author.Id">@author.ToString()</option>
                    }
                </select>
            </div>
            <div>
                <label for="body">Message</label>
                <textarea asp-for="Body" type="text" class="form-control" placeholder="Enter message"></textarea> 
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
        </div>
        
        <button type="submit" class="btn btn-sm btn-outline-primary">Send</button>
    </form>
    
</div>