html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
  text-align: start;
  width: 30rem;
  margin: 0 auto 0;
}

.card-title {
  text-align: start;
  font-weight: bold;
}

.card-subtitle {
  font-size: .75em;
  text-align: start;
}

.card-body {
  font-size: .9em;
  font-weight: lighter;
  text-align: start;
}

.card-footer {
  font-size: .75em;
  font-weight: lighter;
}