@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h5>You yype it, we post it!</h5>

    @Html.ActionLink("Get Started", "Index", "Messages");
</div>