@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h5 class="text-muted">You type it, we post it!</h5>

    @Html.ActionLink("Get Started", "Index", "Messages", default, new { @class = "btn btn-sm btn-outline-primary w-25" })
    <a class="btn btn-sm btn-outline-primary w-25" asp-action="About">About</a>
</div>