@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h5>You type it, we post it!</h5>

    @Html.ActionLink("Get Started", "Index", "Messages");
    <a asp-action="About">About</a>
</div>