@model IEnumerable<string>

@{
    ViewData["Title"] = "Students";
}

<div class="text-center">
    @if (!Model.Any())
    {
        <div>Looading ...</div>
        return;
    }


    <h1 class="display-4">@ViewData["Title"]</h1>
    <ul>
        @foreach (var student in Model)
        {
            <li>@student</li>
        }
    </ul>
</div>